body{
    background-color: rgb(17,24,39);
    
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(black / var(--tw-text-opacity));
}

.font-medium {
    font-weight: 500;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}
.mb-4 {
    margin-bottom: 1rem;
}
.uplogosign{
    position:sticky ;
}
.seconddivif{
    height: auto;
    background-color: #13112b;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #0d0d0e;
    text-align: right;
    line-height: 14px;
    block-size: 62px;
    font-size: 12px;
    font-feature-settings: normal;
    text-size-adjust: 100%;
    box-shadow: inset 0 -20px 0 0 #1d2330;
    padding: 1px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.everydig{
    color: #9CA3AF;
}
.lastdivdec{
    width: 45%;
    margin-left: 150px;

}


.firsdtdivdev{
    flex-direction: row;
}
.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.items-center {
    align-items: left;
}
.flexnn {
    display: flex;
    /* justify-content: space-around; */
    gap: 5%;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.object-center {
    -o-object-position: center;
    object-position: center;
}
.rounded {
    border-radius: 0.25rem;
}
button [role=button]{
    cursor: pointer;
}
.migration{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.migratext{
    font-size: 1.125rem;
}
.Validate{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Validatetext{
    font-size: 1.125rem;
}
.Assets{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Assetstext{
    font-size: 1.125rem;
}
.Rectification{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Rectificationtext{
    font-size: 1.125rem;
}
.highgas{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.highgastext{
    font-size: 1.125rem;
}
.Slippage{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Slippagetext{
    font-size: 1.125rem;
}
.transactionerror{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.transactionerrortext{
    font-size: 1.125rem;
}
.crosschain{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.crosschaintext{
    font-size: 1.125rem;
}
.Staking{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Stakingtext{
    font-size: 1.125rem;
}
.SwapExchange{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.SwapExchangetext{
    font-size: 1.125rem;
}
.ClaimReflection{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.ClaimReflectiontext{
    font-size: 1.125rem;
}
.connectdapps{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.connectdappstext{
    font-size: 1.125rem;
}
.loginwallet{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.loginwallettext{
    font-size: 1.125rem;
}
.Claimairdrop{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Claimairdroptext{
    font-size: 1.125rem;
}
.nft{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.nfttext{
    font-size: 1.125rem;
}
.Missingbal{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Missingbaltext{
    font-size: 1.125rem;
}
.Whitelist{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Whitelisttext{
    font-size: 1.125rem;
}
.Transactiond{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.Transactiondtext{
    font-size: 1.125rem;
}
.lockedact{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.lockedacttext{
    font-size: 1.125rem;
}
.tradingwallet{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.tradingwallettext{
    font-size: 1.125rem;
}
.otherissue{
    box-sizing: border-box;
    border: 2px solid rgb(75 85 99);
    background-color: rgb(27,36,51);
    color: gray;
    width: 439px;
    height: 182px;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;

}
.otherissuetext{
    font-size: 1.125rem;
}
.iconpix{
    border-radius: 9999px;
    border: 2px solid rgb(31 41 55);
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(96 165 250);
    background-color: rgb(31 41 55);
}

.allmigration{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.allRectification{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.alltransactionerror{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.allSwapExchange{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.allloginwallet{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.allMissingbal{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.alllockedact{
    display: flex;
    flex-direction: row;
    flex-grow: 1px;
    gap: 10px;
    justify-content: center;
}
.dplatform{
color: RGB(156, 163, 175);
}
.maselection{
    margin-left: 270px;
}
.allfooter{
    display: inline-flex;
}
.connectwa{
    text-decoration: none;
    color: white;
}



@media screen and (min-width: 380px) and (max-width:768px)
{
    /* .alloptions{
        margin-right: 30px;
    } */
    .newdecentra{
        font-size: 55px;
        text-align: center;
    }
    .heroimgs{
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-top: 5px;

    }
    .heroimg{
        width: 366px;
        height: 296px;
        display: block;
        text-align: center;
        align-items: center;
    }
    .lastdivdec{
        width: 100%;
        margin-left: 0px;
        text-align: center;
        position: relative;
        bottom: 100px;
    
    }
    .flexnn {
        display: block;
        /* justify-content: space-around; */
        gap: none;
    }
    .maselection{
        margin-left: 15px;
    }
    .migration{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .migratext{
        font-size: 1.125rem;
    }
    .Validate{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Validatetext{
        font-size: 1.125rem;
    }
    .Assets{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Assetstext{
        font-size: 1.125rem;
    }
    .Rectification{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Rectificationtext{
        font-size: 1.125rem;
    }
    .highgas{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .highgastext{
        font-size: 1.125rem;
    }
    .Slippage{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Slippagetext{
        font-size: 1.125rem;
    }
    .transactionerror{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .transactionerrortext{
        font-size: 1.125rem;
    }
    .crosschain{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .crosschaintext{
        font-size: 1.125rem;
    }
    .Staking{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Stakingtext{
        font-size: 1.125rem;
    }
    .SwapExchange{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .SwapExchangetext{
        font-size: 1.125rem;
    }
    .ClaimReflection{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .ClaimReflectiontext{
        font-size: 1.125rem;
    }
    .connectdapps{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .connectdappstext{
        font-size: 1.125rem;
    }
    .loginwallet{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .loginwallettext{
        font-size: 1.125rem;
    }
    .Claimairdrop{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Claimairdroptext{
        font-size: 1.125rem;
    }
    .nft{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .nfttext{
        font-size: 1.125rem;
    }
    .Missingbal{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Missingbaltext{
        font-size: 1.125rem;
    }
    .Whitelist{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Whitelisttext{
        font-size: 1.125rem;
    }
    .Transactiond{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .Transactiondtext{
        font-size: 1.125rem;
    }
    .lockedact{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .lockedacttext{
        font-size: 1.125rem;
    }
    .tradingwallet{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .tradingwallettext{
        font-size: 1.125rem;
    }
    .otherissue{
        box-sizing: border-box;
        border: 2px solid rgb(75 85 99);
        background-color: rgb(27,36,51);
        color: gray;
        width: auto;
        height: 244px;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
    
    }
    .allmigration{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .allRectification{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .alltransactionerror{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .allSwapExchange{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .allloginwallet{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .allMissingbal{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .alllockedact{
        display: flex;
        flex-direction: column;
        flex-grow: 1px;
        gap: 10px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .allfooter{
        display:block;
        margin-left: 20px;
    }

}
